{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<h1>{{ collection.title }}</h1>

<div {{ section.shopify_attributes }} class="collection-products flex flex-row flex-wrap gap-[30px] mt-[30px] w-[1350px] bg-red-500 mx-auto max-[1279px]:w-[100%]">

  {% assign limit = section.settings.products_per_page | default: 20 %}

  {% paginate collection.products by limit %}

    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% endfor %}

    {{ paginate | default_pagination }}

  {% endpaginate %}

</div>

{% schema %}
{
  "name": "t:general.collection",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "min": 8,
      "max": 48,
      "step": 4,
      "default": 20
    }
  ]
}
{% endschema %}
